<div class="full-page">
    <div class="nav-bar">
        <div class="heading">
            <h1>Sales Predictor</h1>
        </div>
        <div class="signout">
            <a (click)="goToSignIn()">Sign Out</a>
        </div>
        <div class="get-data">
            <a (click)="goToCalculate()">Calculate</a>
        </div>
        <div class="instruction">
            <a (click)="goToInstructPage()">Instructions</a>
        </div>
        <div class="home">
            <a (click)="goToHomePage()">Home</a>
        </div>
    </div>

    <div class="main-body">
        <div class="sales-img">
            <img src="https://miro.medium.com/max/828/1*gsUixexI9DsFfKsS-ZZqng.png">
        </div>
        <div class="text">
            <div class="para">
                <p>Worried about your sales performance?</p><br>
                <p>Trying to predict the future of your sales value?</p><br>
                <p>Come find out how the future will be...</p><br>
            </div>
            
            <div class="button-class">
                <button class="btn" (click)="goToInstructPage()">Find out More</button>
            </div>
        </div>
    </div>
    

</div>

